In [1]:
## loads classic rock data set
import pandas as pd

url = 'https://raw.githubusercontent.com/fivethirtyeight/data/master/classic-rock/classic-rock-song-list.csv'
data = pd.read_csv(url)
data.head()

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

## Classic Rock Scavenger Hunt

+ Objective is to find the greatest rock group of all time
+ Understand data
+ clean and prepare data
+ create analysis

### Deliverables  

+ A html output of a ipynb notebook.
+ Each Question should be in a code block, with the code that outputs the answer bellow. 
+ Avoid errors or lengthy print outs in the notebook


##### Questions to Answer

+ What artist has the most sum plays of all songs on all stations?
+ What are the Beatles top 3 most played songs?
+ What year had the most total plays?
+ Find three one hit wonders (only have one song in the data set)
+ What artist had the highest average play count for all songs? 
+ What year was tom petty most popular (by play counts)?
+ Is the sum total annual classic rock play count increasing or decreasing? (show counts by year) 
+ Create and answer one of your own questions